.animWrapper {
    position: relative;
    height: 350vh;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    /* длинная прокрутка */
    overflow: hidden;
}

.bg2 {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.bg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.masked {
    position: fixed;
    inset: 0;
    z-index: 2;

    -webkit-mask-image: url("data:image/svg+xml;utf8,\
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 220 220'>\
        <path d='M130,110 A50,50 0 1 1 110,130 \
        A50,50 0 1 1 90,110 A50,50 0 1 1 110,90 \
        A50,50 0 1 1 130,110 Z' fill=\'white\'/>\
        </svg>");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url("data:image/svg+xml;utf8,\
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 220 220'>\
        <path d='M130,110 A50,50 0 1 1 110,130 \
        A50,50 0 1 1 90,110 A50,50 0 1 1 110,90 \
        A50,50 0 1 1 130,110 Z' fill=\'white\'/>\
        </svg>");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 0%;
}


.contentBelow {
    position: relative;
    z-index: 3;
}