.presentation {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    overflow: hidden;
}

.presentation_left {
    width: 45%;
    padding: 150px 0 150px 150px;
}

.presentation_right {
    width: 55%;
    height: 100%;
    position: relative;
}

.presCircle {
    position: absolute;
    bottom: -50%;
    right: 50%;
    transform: translate(50%, 0);
}

.presImg {
    position: absolute;
    bottom: 0%;
    right: 50%;
    height: 90%;
    transform: translate(50%, 50%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.presentation_left_title {
    font-family: Cormorant;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 0%;
    text-transform: uppercase;

    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.presentation_left_form {
    margin-top: 50px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.presentation form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 100px;
}

.presentation form input {
    border: none;
    border-bottom: 1px solid #000;
    height: 40px;
    outline: none;
}

.presentation form label {
    display: flex;
    gap: 27px;
    align-items: center;
}

.presentation form label input {
    width: 26px;
    height: 26px;
}

.presentation form label p {
    width: calc(100% - 27px - 26px);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}

.presentation form button {
    width: 240px;
    height: 65px;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
    border: none;
    background-color: #86817C;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.presentation form button:hover {
    background-color: #978579;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}



.showRight {
    opacity: 1 !important;
    transform: translateX(50%) translateY(0) !important;
}

.show {
    opacity: 1 !important;
    transform: translateX(0) translateY(0) !important;
}


.flatsTextInfo {
    background-color: #494342;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    position: relative;
    padding-bottom: 100px;
}


.flatsTextInfo_titleText {
    display: flex;
    flex-direction: column;
}

.flatsTextInfo_underText {
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 0 200px;


    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.flatsTextInfo_titleText span {
    font-family: Cormorant;
    font-size: 100px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;

    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.flatsTextInfo_titleText span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.flatsTextInfo_underImg {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 60px;
}

.flatsTextInfo_underImg img {
    width: 120px;
    object-fit: contain;
}

.flatsTextInfo_imgOverlay {
    width: 1px;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.2)
}


.elegantTextInfo {
    background: url('/interer.webp');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    position: relative;
}

.elegantTextInfo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elegantTextInfo_titleText {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.elegantTextInfo_text {
    position: absolute;
    bottom: 150px;
    right: 100px;
    width: 50%;
    font-size: 26px;
    color: #fff;
    padding-right: 100px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.elegantTextInfo_titleText span {
    font-family: Cormorant;
    font-size: 68px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;

    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.elegantTextInfo_titleText span:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.elegantExclusiv {
    width: 100%;
    background-color: #fff8e8;
    color: #494342;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.elegantExclusiv_title {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.elegantExclusiv_title span {
    width: 100%;
    text-align: end;
    font-family: Cormorant;
    font-size: 170px;
    font-weight: 500;
    line-height: 70%;

    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.elegantExclusiv_title_small {
    font-size: 26px;
    line-height: 100%;
    text-transform: uppercase;
    position: absolute;
    right: 550px;
    bottom: 13px;


    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.elegantExclusiv_desc {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.elegantExclusiv_desc_text {
    display: flex;
    flex-direction: column;
    gap: 40px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.elegantExclusiv_desc_text p {
    font-size: 20px;

}

.elegantExclusiv_desc>p {
    font-size: 16px;


    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.flatsImgProject {
    position: absolute;
    left: 150px;
    top: 250px;
}

.flatsImgProject_inner {
    width: 800px;
    height: 700px;
    position: relative;
}

.flatsImgProject img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: path("M300 233 A233 233 0 0 1 533 0 A233 233 0 1 1 533 466 L533 700 H0 V233 H300 Z");
    transform: scaleX(-1);
}

.flatsImgProject_overlay {
    position: absolute;
    top: -36%;
    left: -33%;
    width: 550px;
    height: 550px;
    background: #af7f4b85;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 80px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: right;
    border-radius: 0 50% 50% 0;
}

.infrastructure {
    width: 100%;
    height: 100vh;
    background-color: #494342;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infrastructure_cutBlock {
    width: 550px;
    height: 700px;
    background: url('/cutBlock.webp');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 0 0 275px 275px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infrastructure_cutBlock::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000049;
    border-radius: 0 0 275px 275px;
}

.infrastructure_cutBlock_square1 {
    width: 100px;
    height: 100px;
    background-color: #494342;
    position: absolute;
    top: 200px;
    left: 0;
    pointer-events: none;
}

.infrastructure_cutBlock_square2 {
    width: 200px;
    height: 100px;
    background-color: #494342;
    position: absolute;
    top: 100px;
    left: 0;
    pointer-events: none;
}

.infrastructure_cutBlock_square3 {
    width: 300px;
    height: 100px;
    background-color: #494342;
    position: absolute;
    top: 0px;
    left: 0;
    pointer-events: none;
}

.infrastructure_cutBlock_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.infrastructure_cutBlock_text span:nth-child(1) {
    font-size: 20px;
    width: 300px;
    margin-bottom: 30px;

    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.infrastructure_cutBlock_text span {
    position: relative;
    z-index: 9;
    font-family: Cormorant;
    font-size: 110px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.infrastructureText {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #494342;
    padding: 0 100px;
}

.infrastructureText_block:nth-child(1) {
    width: 45%;
    height: 70%;
    color: #fff;
    font-size: 22px;
}

.infrastructureText_block {
    width: 55%;
    height: 70%;
    color: #fff;
    font-size: 22px;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}



@media (max-width: 1600px) {
    .presentation_left_title {
        font-size: 46px
    }

    .presentation form label p {
        font-size: 14px;
    }

    .presentation form {
        padding-right: 50px;
    }

    .elegantTextInfo_text {
        padding-right: 0;
    }

    .elegantExclusiv_title span {
        font-size: 120px;
    }

    .elegantExclusiv_title_small {
        right: 400px;
    }

    .elegantExclusiv_desc {
        width: 35%;
    }

    .elegantExclusiv_desc_text {
        gap: 20px;
    }

    .flatsImgProject {
        left: 100px;
    }

    .infrastructureText_block:nth-child(1) {
        font-size: 19px;
    }

    .infrastructureText_block {
        font-size: 19px;
    }
}

@media (max-width: 768px) {
    .presentation {
        flex-direction: column;
        justify-content: flex-start;
        height: 1000px;
    }

    .presentation_left {
        padding: 40px 30px;
        width: 100%;
    }

    .presentation_left_title {
        font-size: 32px;
        text-align: center;
    }

    .presentation form {
        padding: 0;
    }

    .presentation form label p {
        font-size: 12px;
    }

    .presentation form label input {
        width: 17px;
    }

    .presentation form button {
        height: 54px;
        font-size: 14px;
    }

    .presentation_right {
        width: 100%;
    }

    .presCircle {
        width: 100%;
        bottom: -50%;
    }

    .presImg {
        height: 100%;
    }

    .flatsTextInfo {
        gap: 20px;
        height: fit-content;
        padding: 40px 20px;
    }

    .flatsTextInfo_titleText {
        margin-bottom: 60px;
    }

    .flatsTextInfo_underText {
        font-size: 12px;
        text-align: left;
        padding: 0;
        margin-bottom: 40px;
    }

    .flatsTextInfo_titleText span {
        font-size: 40px;
    }

    .flatsTextInfo_titleText span:nth-child(1) {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .flatsTextInfo_underImg img {
        width: 80px;
    }

    .elegantTextInfo_text {
        font-size: 12px;
        width: 100%;
        padding: 20px;
        position: initial;
    }

    .elegantTextInfo {
        background: none;
        height: fit-content;
        background-color: #494342;
        gap: 0px;
    }

    .elegantTextInfo_img {
        width: 100%;
        height: 250px;
    }

    .elegantExclusiv_title span {
        font-size: 40px;
        text-align: left;
        transform: translateY(50px);
    }

    .elegantExclusiv_desc {
        width: 100%;
        gap: 20px;
    }

    .elegantExclusiv {
        padding: 20px;
        gap: 20px;
        justify-content: start;
    }

    .elegantExclusiv_desc_text {
        gap: 20px;
    }

    .elegantExclusiv_desc_text p {
        font-size: 12px;
    }

    .elegantExclusiv_desc>p {
        font-size: 10px;
    }

    .elegantExclusiv_title_small {
        position: initial;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .flatsImgProject_inner {
        position: absolute;
        bottom: 40px;
        left: -320px;
        transform: scale(0.4);
    }

    .infrastructure {
        height: auto;
        padding: 40px 0 20px 0;
    }

    .infrastructureText {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        height: auto;
    }

    .infrastructureText_block {
        font-size: 12px;
        width: 100%;
    }

    .infrastructure_cutBlock {
        width: 300px;
        height: 400px;
    }

    .infrastructure_cutBlock_text {
        margin-top: 100px;
    }

    .infrastructureText_block:nth-child(1) {
        font-size: 12px;
        width: 100%;
    }

    .infrastructure_cutBlock_text span:nth-child(1) {
        font-size: 14px;
    }

    .infrastructure_cutBlock_text span {
        font-size: 38px;
    }

    .infrastructure_cutBlock_square1 {
        width: 50px;
        height: 50px;
        top: 100px;
    }

    .infrastructure_cutBlock_square2 {
        width: 100px;
        height: 50px;
        top: 50px;
    }

    .infrastructure_cutBlock_square3 {
        width: 150px;
        height: 50px;
    }

    .elegantTextInfo_titleText span:nth-child(2) {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 50px;
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }
}