.wrapper {
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

.screen {
  position: fixed;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 1;
  transition: transform 0.5s linear, opacity 0.5s linear;
  pointer-events: none;
}

.visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.empty {
  width: 100%;
  height: 100%;
  background: transparent;
}

.historyOuter {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.historyInner {
  transition: transform 0.2s linear;
  will-change: transform;
}

.noSlideUp {
  transform: none !important;
  transition: none !important;
}