.sliderBlock {
  position: relative;
}

.sliderContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.slider {
  width: 100%;
  height: 100%;
}

.prevButton,
.nextButton {
  position: absolute;
  bottom: 41px;
  border: none;
  cursor: pointer;
  z-index: 920;
}

.prevButton {
  left: 120px;
}

.nextButton {
  right: 120px;
}

.bottomArrowLeft {
  left: 42%;
  bottom: -120px;

  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.bottomArrowRigth {
  right: 42%;
  bottom: -120px;

  opacity: 0;
  transform: translateX(200px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slideTrack {
  display: flex;
  transition: transform 0.8s ease-in-out;
  width: 100%;
  height: 100%;
}

.slideGroup {
  display: flex;
  flex: 0 0 100%;
  height: 100%;
}

.slide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mouseArrow {
  position: fixed;
  z-index: 999;
  transition: transform 0.05s linear;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.leftMouseArrow {
  left: 20px;
}

.rightMouseArrow {
  right: 20px;
}

.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.bottomCloseBar{
  width: 100%;
  height: 15dvh;
  position: absolute;
  cursor: pointer;
}