.header {
    width: 100%;
    padding: 54px 90px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    transform: translateY(-100%);
    opacity: 0;
    animation: slideDown 0.6s ease-out 0.3s forwards;
}

.header img {
    width: 57px;
    height: 57px;
    object-fit: cover;
}

.header>a {
    font-size: 20px;
    color: #fff;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.phoneWrapper {
    position: relative;
}

.phoneButton {
    background: none;
    border: none;
    color: white;
    font-family: 'Gotham 400';
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #00000033;
    border-radius: 20px;
    z-index: 999;
    min-width: 220px;
    overflow: hidden;
}

.header .phoneIcon {
    width: 19px;
    height: 19px;
    object-fit: contain;
}

.header .dropdownIcon {
    width: 10px;
    object-fit: contain;
}

.dropdownItem {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 25px;
    color: #fff !important;
    text-decoration: none;
    transition: background 0.2s ease;
    font-size: 16px !important;
}

.dropdownItem:first-child {
    padding-top: 20px;
}

.dropdownItem:last-child {
    padding-bottom: 20px;
}

.dropdownItem:hover {
    background: #ffffff11;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .header img {
        height: auto;
    }

    .header>img {
        order: 1;
        width: 35px;
        height: 35px;
    }

    .header .phoneWrapper {
        order: 2;
        width: auto;
        height: fit-content;
    }

    .header>a {
        order: 3;
        font-size: 12px;
        width: auto;
        text-transform: uppercase;
    }

    .phoneButton {
        font-size: 12px;
    }

    .dropdownMenu {
        background-color: #ffffff33;
        font-size: 12px;
        border-radius: 15px;
        min-width: 185px;
        margin-top: 10px;
    }

    .dropdownItem {
        width: 185px;
        gap: 20px;
        padding: 8px 12px;
        font-size: 12px !important;
    }

    .dropdownItem:first-child {
        padding-top: 10px;
    }

    .dropdownItem:last-child {
        padding-bottom: 10px;
    }
}