.header {
    width: 100%;
    padding: 54px 90px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    width: 57px;
    height: 57px;
    object-fit: cover;
}

.header a {
    font-size: 20px;
    color: #fff;
    width: 200px;
}